#navbar{
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    height: 80px;
}

/*Home Section*/
#home img{
    width: 250px;
    height: 250px;    
}
#home .name h2{
    font-size: 1.5rem;
}
#home .name p{
    font-size:0.85rem;
}

/*Training Sections*/

#training .items{
    display: flex;
    flex-direction: column;
}
#training .items .item{
    width: 100%;
}

/*Courses*/

.course{
    display: flex;
    flex-direction: column;
}
#courses .container .courses .course .course-image img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}